<% include ./includes/head %>
<% include ./includes/header %>

<body>
  <!-- <h1><%= title %></h1> -->
  <main class="container-fluid">
  <!--Synchroniser les données du sheets-->
  <!--Choisir un template -->
  <!--Générer le pdf -->
  </main>
</body>

<% include ./includes/footer %>